Source: freenas-proxmox
Section: perl
Priority: optional
Maintainer: KSA Technologies, LLC <theprofessor@ksatechnologies.com>
Uploaders: Kevin Scott Adams <thegrandwazoo@ksatechnologies.com>
Depends: librest-client-perl
Standards-Version: 4.6.2
Vcs-Git: https://github.com/TheGrandWazoo/freenas-proxmox.git
Vcs-Browser: https://github.com/TheGrandWazoo/freenas-proxmox
Homepage: https://github.com/TheGrandWazoo/freenas-proxmox

Package: freenas-proxmox
Architecture: all
Version: ${VERSION}
Provides: freenas-proxmox
Description: TrueNAS ZFS-over-iSCSI Plugin for Proxmox VE
 Manages iSCSI LUNs on TrueNAS (CORE and SCALE) via the TrueNAS REST API.
 Supports Bearer Token and username/password authentication.
 No SSH-based LUN management required.
 .
 Licensed under the GNU Affero General Public License v3 (AGPL-3.0).
 Copyright (c) 2020 KSA Technologies, LLC.
