Package: freenas-proxmox
Version: ${VERSION}
Architecture: all
Maintainer: KSA Technologies, LLC <theprofessor@ksatechnologies.com>
Depends: librest-client-perl
Section: perl
Priority: optional
Homepage: https://github.com/TheGrandWazoo/freenas-proxmox
Description: TrueNAS ZFS-over-iSCSI Plugin for Proxmox VE
 Manages iSCSI LUNs on TrueNAS (CORE and SCALE) via the TrueNAS REST API.
 Supports Bearer Token and username/password authentication.
 No SSH-based LUN management required.
 .
 Licensed under the GNU Affero General Public License v3 (AGPL-3.0).
 Copyright (c) 2020 KSA Technologies, LLC.
